html {

	padding: 0;
	margin: 0;
	height: 100%;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #eee;

	--header-height: 44px;
	--nav-width: 240px;

}

main {

	width: 100%;
	height: 100%;
	background-color: #342c82;
	font-family: Meiryo, "MS PGothic", sans-ser
}

header {

	position: absolute;
	top: 0;
	left: 0;
	height: var(--header-height);
	width: 100%;

}

header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

h1 {

	padding: 0;
	margin: 0;
	color: #fff;
	text-indent: 10px;
	font-size: 18px;

}

header table tr td:last-child {

	padding-right: 4px;
	text-align: right;
	color: #fff;
	width: 330px;

}

header table tr td:nth-child(2) {


}

header table tr td:first-child {

	width: var(--nav-width);

}

nav {

	position: absolute;
	top: var(--header-height);
	left: 0;
	height: calc(100% - var(--header-height) - 10px);
	padding-top: 10px;
	width: var(--nav-width);

}

nav li {

	width: calc(100% - 10px);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 6px 0;
	background-color: #8fcdf7;
	list-style-type: none;
	margin-bottom: 4px;
	text-indent: 5px;
	position: relative;

}

nav li:after {

	content: "";
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 20px;
	border: 1px solid #000;
	position: absolute;
	right: 14px;
	top: 7px;

}

nav li.loaded:after {

	background-color: green;

}

nav li.loaded:hover {

	cursor: pointer;
	text-indent: 11px;


}

section {
	
	position: absolute;
	top: var(--header-height);
	left: var(--nav-width);
	height: calc(100% - var(--header-height));
	width: calc(100% - var(--nav-width));
	background-color: #263238;
	border-top-left-radius: 10px;
	overflow: hidden;

}
