nav.list {

	width: 290px;
	height: 100%;
	background-color: #37474f;
	overflow-y: scroll;
	float: left;

}

.mdl-layout__header-row .mdl-navigation__link:hover {

	cursor: pointer;
	color: #fff;
	text-shadow: 0px 3px 8px rgba(255, 255, 255, 0.51);

}

nav.list i,
nav.list span {

	color: #eceff1 !important;
}

nav.list li {

	position: relative;

}

nav.list li:hover{

	background-color: #00BCD4;
	cursor: pointer;
	
}

nav.list li:hover i,
nav.list li:hover span {

	color: #37474F !important;

}

.demo-card-square.mdl-card {
  width: auto;
  min-height: 276px;
  float: left;
  margin-right: 14px;
	margin-bottom: 10px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  margin-top: 14px;
  background-color: #ccc;

}

section.body {

	width: calc(100% - 290px);
	float: left;
	overflow-y: auto;
	height: 100%;
	
}

.mdl-list__item.active:after {

	content: "";
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	right: 10px;
	border-radius: 10px;
	background-color: #00BCD4;

}

.mdl-list__item.active:hover:after {

	background-color: #000;

}
